# app e.g
PORT=4004
COOKIE_SECRET="SESSION_SECRET"
SESSION_SECRET="COOKIE_SECRET"
ACCESS_TOKEN_SECRET="REFRESH_TOKEN_SECRET"
REFRESH_TOKEN_SECRET="ACCESS_TOKEN_SECRET"
ACCESS_TOKEN_EXPIRE=600000 # ms => 10 min
REFRESH_TOKEN_EXPIRE=604800000 # ms => 7 day
CHECKOUT_EXPIRE=180000 # ms => 3 min

# They Will Be Use In Docker For Creating Mysql Container
DB_USERNAME="nima"
DB_PASSWORD="justapassword"
DB_NAME="online-shop"
DB_HOST="mysql_db"
DB_DIALECT="mysql"
DB_PORT=3306
PUBLIC_DB_PORT=3306

DB_POOL_MIN=0
DB_POOL_MAX=5
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000