# app e.g
PORT=4004
COOKIE_SECRET="SESSION_SECRET"
SESSION_SECRET="COOKIE_SECRET"

# mysql DB e.g
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="online-shop"
DB_HOST="127.0.0.1"
DB_DIALECT="mysql"
DB_PORT="3306"

DB_POOL_MIN=0
DB_POOL_MAX=5
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000